<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913283502635-d6fa1vlkikula298278ctnfd46aba7ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913283502635-d6fa1vlkikula298278ctnfd46aba7ad</string>
	<key>API_KEY</key>
	<string>AIzaSyDkSmSkWphNDCe_SXRjBLiaZyPDtBiPOFo</string>
	<key>GCM_SENDER_ID</key>
	<string>913283502635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyencse.icab</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-c3d21</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-c3d21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913283502635:ios:677489d95b5a0c3b8a106e</string>
	<key>DATABASE_URL</key>
	<string>https://taxiapp-c3d21.firebaseio.com</string>
</dict>
</plist>